<div class="p-20">
  <h1 class="text-2xl font-black">Routes</h1>

  <ul>
    <li><.link href={"/clock/boring"}>Clock.Boring</.link></li>
    <li><.link href={"/clock/updating"}>Clock.Updating</.link></li>
    <li><.link href={"/clock/with-phoenix-component"}>Clock.UpdatingWithPhoenixComponent</.link></li>
    <li><.link href={"/zoo/downward-flow"}>Zoo.DownwardFlow</.link></li>
    <li><.link href={"/zoo/notify-flow"}>Zoo.NotifyFlow</.link></li>
  </ul>

</div>
